body{
    background:#F0FFFF;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
.assignment
{
    display:flex;
    padding:10px;
    margin:10px;
    background: #FFEBCD;
}
.assignment img
{
    width: 200px;
    padding: 10px;
    background: #FFEBCD;
}
.assignment img:hover
{
    border: 4px solid #A52A2A ;
}


h1{
    color: green;
    text-align:center;
}
h1
{
    color: green;
}

a
{
    text-decoration:none;
    color: blue;
}
a:hover
{
    color: #A52A2A;
}

